/* Benefits */

.benefits__list--bottom:not(:last-child){
margin-bottom: 30px;
}

.benefits__container {
  background-color: #f5f4fa;
  border-radius: 4px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;

  &--bottom {
  margin-bottom: 30px;
}
}

.benefits__header {
  color: var(--header-color);
  font-weight: 700;
  font-size: var(--font-size-paragraph);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  text-align: center;

  &--bottom {
  margin-bottom: 10px;
}
}

.benefits__paragraph {
  color: var(--paragraph-color);
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.benefits__icon {
  display: block;
}


@media screen and (min-width: 768px) {
  .benefits {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .benefits__list {
    width: 354px;

    &--bottom:not(:last-child){
    margin-bottom: 0;
    }
  }

  .benefits__header {
    text-align: left;
  }
    
}

@media screen and (min-width: 1200px){
  .benefits {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .benefits__list {
    width: 270px;
  }


}