// Mobile menu

.mobile-menu {
  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;

  background-color: var(--second-accent-color);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16),
    0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 4px 8px 0px rgba(0, 0, 0, 0.04);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-bottom: 48px;
  padding-top: 48px;
  padding-left: 40px;
  padding-right: 40px;

  max-width: 100%;

  z-index: 999;
  overflow: scroll;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-open {
    transform: translateX(0);
  }
}

@media screen and (min-width: 480px) {
  .mobile-menu {
    width: 100vw;
  }
}

.mobile-menu__open-button {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  outline: none;
}

.mobile-menu__icon-menu {
  fill: #000000;
}

.mobile-menu__close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 15px;
  line-height: 0;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  outline: none;
}

.mobile-menu__icon-close {
  fill: var(--header-color);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
.mobile-menu__contacts {
  margin-top: auto;
}

.mobile-menu__contacts--bottom {
  margin-bottom: 64px;
}

.mobile-menu__item--bottom:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu__link {
  text-decoration: none;

  &--current-page {
    color: var(--accent-color);
  }

  color: var(--header-color);
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.8px;
}

.mobile-menu__telefon {
  text-decoration: none;

  color: var(--accent-color);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.68px;
  font-size: calc((100vw - 320px) / (480 - 320) * (34 - 22) + 22px);
}

@media screen and (min-width: 480px) {
  .mobile-menu__telefon {
    font-size: 34px;
  }
}

.mobile-menu__email {
  text-decoration: none;

  color: var(--paragraph-color);
  // font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  font-size: calc((100vw - 320px) / (480 - 320) * (24 - 20) + 20px);
}

@media screen and (min-width: 480px) {
  .mobile-menu__email {
    font-size: 24px;
  }
}

.mobile-menu__social-container {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.mobile-menu__social-item:not(:last-child) {
  margin-right: 10px;
}

.mobile-menu__social-link {
  display: flex;
  text-decoration: none;

  color: var(--accent-color);

  font-style: normal;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.36px;
  font-size: calc((100vw - 320px) / (480 - 320) * (18 - 9) + 9px);

  &--after::after {
    content: "";
    display: block;
    width: 1px;
    height: calc((100vw - 320px) / (480 - 320) * (22 - 12) + 12px);
    background-color: rgba(33, 33, 33, 0.2);

    margin-left: 10px;
  }
}

@media screen and (min-width: 480px) {
  .mobile-menu__social-link {
    font-size: 18px;

    &--after::after {
      height: 22px;
    }
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .mobile-menu__open-button {
    display: none;
  }
}
