:root {
  --bg-color-main: #2f303a;
  --accent-color: #2196f3;
  --second-accent-color: #ffffff;
  --header-color: #212121;
  --paragraph-color: #757575;

  --font-family: "Roboto", sans-serif;
  --font-size-paragraph: 14px;
  --font-size-header: 16px;
}
